@page "/user/login"
@inherits EventEaseAppBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
<h3>Update Session State</h3>

<EditForm Model="@UserLogIn" OnValidSubmit="@UpdateSession">
      <FluentValidationValidator />
      <ValidationSummary />

    <div>
        <label>Name:</label>
        <InputText @bind-Value="UserLogIn.Name" class="form-control" />
    </div>
  
    <div>
        <label>Email:</label>
        <InputText @bind-Value="UserLogIn.Email" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
    private UserLogIn UserLogIn { get; set; } = new UserLogIn{ Name = "Felipe", Email = "felipe@gmail.com"};

    private async Task UpdateSession()
    {
        await UserSessionService.LogInAsync(UserLogIn.Name, UserLogIn.Email, NavigationManager);
        await JS.InvokeVoidAsync("goBack");
    }
}
<script>
    window.goBack = () => history.back();
</script>

