@page "/feedback/add"
@page "/feedback/edit/{id:int}"
@rendermode InteractiveWebAssembly

<h3>Feedback Form</h3>

<EditForm Model="@feedback" OnValidSubmit="HandleValidSubmit">
    <FluentValidationValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <InputText id="name" class="form-control" @bind-Value="feedback.Name" />
        <ValidationMessage For="@(() => feedback.Name)" />
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <InputText id="email" type="email" class="form-control" @bind-Value="feedback.Email" />
        <ValidationMessage For="@(() => feedback.Email)" />
    </div>
    <div class="mb-3">
        <label for="Comment" class="form-label">Comment</label>
        <InputTextArea id="Comment" class="form-control" @bind-Value="feedback.Comment"></InputTextArea>
        <ValidationMessage For="@(() => feedback.Comment)" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [Parameter] public int Id { get; set; } = 0;
    [Inject] private FeedbackInMemoryService FeedbackInMemory { get; set; } = default;

    private Feedback feedback = new ();

    protected override void OnInitialized()
    {   
        if (Id > 0)
        {
            feedback = FeedbackInMemory.GetFeedbackById(Id);
        }
    }

    private void HandleValidSubmit()
    {
        Console.WriteLine($"Name: {feedback.Name}, Email: {feedback.Email}, Comment: {feedback.Comment}");

        FeedbackInMemory.SubmitFeedback(feedback);
        
        feedback = new Feedback();
    }
}
