@page "/recipe/{recipeId:int}"

@if (selectedRecipe is not null)
{
    <h3>@selectedRecipe.Name</h3>
    <p>@selectedRecipe.Description</p>
    <NavLink class="btn btn-primary" href="@($"/editrecipe/{selectedRecipe.Id}")">Edit Recipe</NavLink>
}
else
{
    <p>Recipe not found!</p>
}

@code {
    [Parameter]
    public int RecipeId { get; set; }
    private Recipe? selectedRecipe = null;

    protected override void OnParametersSet()
    {
        selectedRecipe = recipes.FirstOrDefault(r => r.Id == RecipeId);
    }

    private List<Recipe> recipes = [
        new Recipe
        {
            Id = 1,
            Name = "Spaghetti Carbonara",
            Description = "A classic Italian pasta dish made with eggs, cheese, pancetta, and pepper.",
        },
        new Recipe
        {
            Id = 2,
            Name = "Chicken Tikka Masala",
            Description = "A popular Indian dish consisting of roasted marinated chicken in a spiced curry sauce.",

        },
        new Recipe
        {
            Id = 3,
            Name = "Beef Tacos",
            Description = "Soft or hard shell tacos filled with seasoned ground beef, lettuce, cheese, and salsa.",
        }
    ];
}