@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (User.IsAuthenticated)
            {
                <a class="navbar-brand" href="/user/details">
                    <span class="navbar-text">@($"{User.Name} | Previous Active: {User.PreviousPage} | Last Activite At {User.LastActiviteAt.ToString("T")}")</span>
                </a>
                <a class="navbar-brand" href="" @onclick="ResetUserSession">Logout</a>
            }
            else
            {
                <a class="navbar-brand" href="/user/login">Please log in.</a >
            }
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [CascadingParameter(Name = "User")] public UserSessionState User { get; set; } = new UserSessionState();

    protected override void OnInitialized()
    {
        User.OnChange += StateHasChanged;
    }

    //Reset User session state on logout
    private void ResetUserSession()
    {   
        User.LogOff();

    }
}